.datepicker {
	font-family: 'Open Sans', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	width: 285px;
	background-color: #fff;
	position: absolute;

	.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	
	.datepicker-header {
		text-align: center;
		font-weight: bold;
		position: relative;

		.prev-arrow, .next-arrow {
			cursor: pointer;
			padding: 10px;
			position: absolute;
			top: 0px;
			width: 16px;
			height: 16px;
			color: #555;

			&:hover {
				background-color: #eee;
			}
		}

		.prev-arrow {
			float: left;
			left: 0px;

			&:after {
				content: '◀';
			}
		}

		.next-arrow {
			float: right;
			right: 0px;
			
			&:after {
				content: '▶';
			}
		}

		.month-year {
			display: block;
			margin: 0 auto;
			width: 200px;
			text-align: center;
			padding: 10px 0px;
		}
	}
	.datepicker-body {
		text-align: center;

		tbody {
			tr {
				td{
					padding: 10px;
					cursor: pointer;
					&:hover {
						background-color: #eee;
					}

					&.today {
						background-color: #4688F1;
						color: #fff;
					}
				}
			}
		}
	}
}